﻿@model List<BITFX.Models.OrdenServicio>
@{
    ViewBag.Title = "Filtrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="row">

    @Html.ActionLink("Regresar", "ListadoOrdenes", "", null, new { @class = "btn btn-primary" });

    <form method="post" action="/OrdenesServicio/Filtrar">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="date" class="form-control" name="fechaInicio" />
                    <input type="date" class="form-control" name="fechaFin" />
                </div>
            </div>
            <div class="col-lg-4">
                <select class="form-control" name="estatus">
                    <option value="0">Todos las estadus</option>
                    @if (ViewBag.LstEstatus.Count > 0 && ViewBag.LstEstatus != null)
                    {
                        foreach (var es in ViewBag.LstEstatus)
                        {
                            <option value="@es.Estatus_ID">@es.Descripcion</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-4">

                <button class="btn" type="submit">Filtrar</button>
                @*<button class="btn">Xls</button>
                <button class="btn">Pdf</button>*@

            </div>
        </div>
    </form>
    <div class="col-lg-12">
        <table class="table table-responsive table-bordered">
            <thead>
                <tr>
                    <th>Servicio</th>
                    <th>Cliente</th>
                    <th>Tipo Servicio</th>
                    <th>Precio</th>
                    <th>SubMarca</th>
                    <th>Fecha</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="7"><span class="text-danger">No se encontrarón registros</span></td>
                        </tr>
                    }
                    else
                    {
                                            foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.NumServicio</td>
                            <td>@i.Cliente.Nombre</td>
                            <td>@i.TipoServicio</td>
                            <td>@i.Precio</td>
                            <td>@i.SubMarca</td>
                            <td>@i.Fecha</td>
                            <td>@i.Estatus.Descripcion</td>
                        </tr>
                    }
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7"><span class="text-danger">No se encontrarón registros</span></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


<script src="~/Scripts/Pages/OrdenServicioJS.js"></script>