﻿@{
                /**/

                ViewBag.Title = "ListadoOrdenes";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="row">
    <form method="post" action="/OrdenesServicio/Filtrar" id="form_busqueda">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Fecha Inicio</label>
                    <input type="date" class="form-control" name="fechaInicio" id="txt_fechaInicio" />
                    <span id="msg_fechaInicio"></span>
                    <label>Fecha Fin</label>
                    <input type="date" class="form-control" name="fechaFin" id="txt_fechaFin" />
                    <span id="msg_fechaFin"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <label>Estatus</label>
                <select class="form-control" name="estatus" id="cmb_estatus">
                    <option value="0">Selecciona un estatus</option>
                </select>
                <span id="msg_Estatus"></span>
            </div>
            <div class="col-lg-4">
                <button class="btn" type="submit" data-Type="Filtro">Filtrar</button>
                <button class="btn" type="reset">Reset</button>
            </div>
        </div>
    </form>
    <div class="col-lg-12">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <button class="btn" type="submit" data-Type="PDF" id="btn_PDF">PDF</button>
            <button class="btn" type="submit" data-Type="EXCEL" id="btn_EXCEL">EXCEL</button>
        </div>
    </div>




    <br />
    <br />
    <span class="h3" id="msg"></span>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="col-lg-12">
        <table class="table table-responsive table-bordered" id="tbl_ordenesServicio">
            <thead>
                <tr>
                    <th>Servicio</th>
                    <th>Cliente</th>
                    <th>Tipo Servicio</th>
                    <th>Precio</th>
                    <th>SubMarca</th>
                    <th>Fecha</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Pages/OrdenServicioJS.js"></script>
}